@model BookListViewModel
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center mb-4">
    <h2>My Cart</h2>

	@{
		if(Model.Books.Count > 0)
		{
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="text-white bg-dark">
						<th>Title</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Book book in Model.Books)
					{
						<tr>
							<td>@book.Title</td>
							<td>$@book.Price</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<h3>There are no books in your cart</h3>
		}
	}

	
    </div>




    <form asp-action="Delete" method="post">
        <a asp-action="Index" asp-controller="Home"
           class="btn btn-primary">
            Back to Home Page
        </a>
        <button type="submit" class="btn btn-primary">
            Clear Cart
        </button>
    </form>
</div>

